
body {
    /*grey is #F7F7F7 */

}

.calendar {
    width: 90%;
    margin: 0 auto;
}

.calendar .week-title {
    text-align: center;
}

.calendar .day {
    border-left: 1px solid #CECECE;
    border-top: 1px solid #CECECE;
    height: 150px;
    display: block;
}


/* last child has right border */
.calendar .day:last-child {
    border-right: 1px solid #CECECE;
}

/* next months days */
.calendar .week:last-child .day {
    border-top: 1px solid #2b669a;
    border-bottom: 1px solid #CECECE;
}

.calendar .week:last-child .day.active {
    border-bottom: 1px solid #2b669a;
}

.calendar .week:last-child span.day:first-of-type {
    border-left: 1px solid #2b669a;
}

.calendar .week:last-child span.day:first-child {
    border-left: 1px solid #CECECE;
}

.calendar .day.active {
    border-color: #2b669a;
}


.day.today {
    background-color: #D9EDF7;
}
.torrent_link {
    font-size: 13px;
}

.show_block img {
    height: 240px;
}

@media (max-width: 992px) {
    .calendar .week .day.active {
        border-right: 1px solid #2b669a;
        border-left: 1px solid #2b669a;
        border-top: 1px solid #2b669a;
        border-bottom: none !important;
    }

    /* bottom of the month (from non month) */
    .calendar .week:last-child .day:first-of-type:not(.active){
        border-top: 1px solid #2b669a;
        font-weight: bold;
    }

    /* top non month cells */
    .calendar .week:first-child span.day:last-of-type {
        border-right: 1px solid #CECECE;
    }

    /* bottom non month cells */
    .calendar .week:last-child span.day:first-of-type {
        border-top: none;
        border-right: 1px solid;
        border-color: #CECECE;
    }

    /* hide some of the days apart from the closest */
    .calendar .week:first-child span.day:not(:last-of-type) {
        display: none;
    }
    .calendar .week:last-child span.day:not(:first-of-type) {
        display: none;
    }

    /* hide the week days */
    .calendar .calendar_title {
        display: none;
    }
}






/**
 * "Hack" for a seven column bootsrap
 */

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

